body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    color: #334;
}

header {
    background: #ff8565;
    color: blue;
    padding: 20px 0;
}

header h1 {
    margin: 0;
    font-size: 24px;
}